*~

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

.idea

Thumbs.db

images/
single_emotes/

js/berrymotes_data.js
js/berrymotes_data.json
js/berrymotes_data.min.js
js/berrymotes_data.min.json
js/berrymotes_colour_data.js

